{% extends "site.web.twig" %}

{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Yulois 1.0</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://yulois.com.ve" target="_blank">Web</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/YuloisFW" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="https://github.com/yulois" target="_blank">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Bienvenidos a Yulois 1.0</h1>
                <p>No es el mejor Framework del mundo pero te puede echar una mano en tu proyecto si le das una oportunidad.</p>
            </div>
        </div>
    </div>

{% endblock %}